$mainBg: #a79f94;
$layer: rgba(0, 0, 0, 0.45);
$white: #ffffff;
$brightBg: #f1f3f8;
$black: #111111;
$burgundy: #581e1e;
$gray: #404040;
$darkGray: #a9a9a9;
$brown: #91704f;
$borderColor: #c0b9b0;

$darkBg: #282828;
$darkLogic: #222f3e;
$darkLayer: rgba(0, 0, 0, 0.7);
$darkWallPaper: #dcdde1;
$darkText: #d1ccc0;
$darkLoading: #000000;
