@import "../Styles/Variable";
@import "../Styles/Placeholder";

.progressMainWrapper {
  background-color: transparent;
  height: 2px;
  @extend %position;
  width: 100%;
  z-index: 2;
  transition: all 0.5s;
}

.progressMainStyle {
  height: 2px;
  background-color: $darkGray;
  width: 15%;
  transition: all 0.5s;
}

.dark {
  .progressMainStyle {
    background-color: dimgrey;
  }
}